<ion-content padding class="bg">
    <ion-title color="light">Opptin Logo</ion-title>
    <div class="box center" style="height: 550px">
      <h2>Create an <span style= "color: #33F6FE">account</span></h2>
      <div class="centbox">
        <p class="al">EMAIL</p>
        <ion-input class="inputbox al" type="email"></ion-input>
        <p class="al">USERNAME</p>
        <ion-input class="inputbox al" type="text"></ion-input>
        <p class="al">CREATE PASSWORD</p>
        <ion-input class="inputbox al" type="text"></ion-input>
        <p class="al">WHAT KIND OF SPACE DO YOU WANT TO <span style= "color: #33F6FE">OPPTIN?</span></p>
        <ion-input class="inputbox al" type="text"></ion-input>
        <ion-toggle value="space-type"></ion-toggle>
        <ion-toggle value="space-type"></ion-toggle>
      </div>
      <p style="color: #33F6FE" class="ar big">NEXT</p>
    </div>
  </ion-content>
  