<ion-content padding class="bg">
  <ion-title color="light">Opptin Logo</ion-title>
  <div class="box center" style="text-align:center">
    <h2>Welcome Back <span style= "color: #33F6FE">{{user}}!</span></h2>
    <div class=centbox>
      <p class="al">EMAIL</p>
      <ion-input class="inputbox al" type="email"></ion-input>
      <p class="al">PASSWORD</p>
      <ion-input class="inputbox al" type="password"></ion-input>
      <p class="link small al">Forgot your password?</p>
      <br/>
      <ion-button color="ocyan" expand="block">Opptin</ion-button>
      <p class= "link small al" style="color: #898989">Need an account? 
          <a routerLink="/signup" class= "link small">Register now!</a>
      </p>
    </div>
  </div>
</ion-content>
